
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../src/js/apiService.js"></script>

  <title>handlebars</title>
</head>

<body>

    <div class="breadcrumbs">
      <p> hola mundo  </p>
      {{#each breadcrumbs}}
        <a href="{{href}}">{{body}}</a>
      {{/each}}
    </div>

    <div class="page-lead">
    lead
      {{#each pageLead}}
        <img src="{{image.src}}" alt="{{alt}}">
      {{/each}}
    </div>

    <div class="actions">
      {{#each actions.items}}
        <button onclick="window.open('{{shareHref}}', '_blank')">{{body}}</button>
      {{/each}}
    </div>

    <div class="navigation">
      {{#each navigation.items}}
        <a href="{{href}}">{{text}}</a>
      {{/each}}
    </div>

    <div class="social">
      {{#each social.items}}
        <a href="{{href}}">{{body}}</a>
      {{/each}}
    </div>

    <div class="audio-player">
      {{#each audioPlayer}}
        <audio controls>
          <source src="{{audioUrl}}" type="audio/mpeg">
        </audio>
      {{/each}}
    </div>

    <div class="hot-topics">
      {{#each hotTopics}}
        <a href="{{url}}" target="{{target}}">{{title}}</a>
      {{/each}}
    </div>

</body>
</html>